@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  @apply bg-gradient-to-r from-[#4B86FC] to-[#75F2F6];
}
.bg-gradient-lite {
  background: linear-gradient(96.86deg, #4b86fc -71.87%, #75f2f6 91.18%);
}
.bg-gradient-text-lite {
  background: -webkit-linear-gradient(
    95.16deg,
    #4b86fc -75.89%,
    #75f2f6 155.97%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
